.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #010101;
    padding: 40px;
}

.feedbacks {
    background-color: rgb(238, 246, 246);
    padding: 30px;
    margin: 0;
    font-size: 22px;
    color: rgb(99, 97, 97);
    box-shadow: 2px 4px 4px 6px rgb(179, 157, 157);
}
